
{% extends 'base.html'%}
{% block body %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Kerala College</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'btn_click' %}">Login</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Department
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/English_studies">Dept. of English</a></li>
            <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Computer_science">Computer Science</a></li>
            <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Bachelor_of_Business_Administration">Bussines Administration</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Bachelor_of_Commerce">Commerce</a></li>
            <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Electronic_engineering">Electronics</a></li>
          </ul>
        </li>


      <form class="d-flex">

         <a href="{% url 'btn_click' %}"class="btn btn-outline-success" type="submit">Click Here for Login</a>
      </form>
    </div>

  </div>
</div>
{% endblock %}
