{% extends 'base.html' %}
{% block body %}
<form action="/form" method="post">
    {% csrf_token %}

    <label for="firstname">first name</label><input type="text" id="firstname" value="{{firstname}}">
   <br>
    <br>
    <label for="Lastname"> Last name</label><input type="text" id="lastname" value="{{lastname}}" >
    <br><br>
    <label for="Age"> Age</label><input type="text" id="age"value="{{age}}" >
    <br><br>
    <br><label for="dob"> DOB</label><input type="text" id="dob" value="{{dob}}">
    <br><br>
    <br><label for="gender">Gender<input type="text" id="gender"value="{{gender}}" >
    <br><br>
    <br><label for="mailid">E-mail</label><input type="text" id="mailid"value="{{mailid}}" >
      <br><br>
      <br><label for="address">Address</label><input type="text" id="address" value="{{address}}">
      <br><br><br>
     <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" value="{{dept}}" data-bs-toggle="dropdown" aria-expanded="false">
   Department
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#">Arts</a></li>
    <li><a class="dropdown-item" href="#">Commerce</a></li>
    <li><a class="dropdown-item" href="#">Computer Science</a></li>
      <li><a class="dropdown-item" href="#"></a> Electronics</li>
      <li><a class="dropdown-item" href="#">Bussiness Administration</a></li>
  </ul>
</div>
     <br><br><br>
  <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" value="{{course}}" data-bs-toggle="dropdown" aria-expanded="True">
   Course
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#">BA English</a></li>
    <li><a class="dropdown-item" href="#">B.com</a></li>
    <li><a class="dropdown-item" href="#">B.C.A</a></li>
       <li><a class="dropdown-item" href="#">B.sc Electronics</a></li>
      <li><a class="dropdown-item" href="#">B.B,A</a></li>
  </ul>
</div>
      <br><br><br>
      <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton3" value="{{purpose}}" data-bs-toggle="dropdown" aria-expanded="false">
   Purpose
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#">Enquiry</a></li>
    <li><a class="dropdown-item" href="#">Place Order</a></li>
    <li><a class="dropdown-item" href="#">Return</a></li>
  </ul>
</div>
      <br><br><br>
   <div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">
   Notebook
  </label>
</div>
      <div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
  <label class="form-check-label" for="defaultCheck2">
  Pen
  </label>
</div>
    <div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
  <label class="form-check-label" for="defaultCheck3">
  Exam Paper
  </label>
</div>


    <button type="submit" class="btn btn-primary" >Submit</button>

    <a href="{% url 'logout'  %}"class="btn btn-primary" type="submit">Logout</a>
    <a href="{% url 'home' %}">HOME</a>
</form>
{% endblock %}